<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/authorsstyles.css">
</head>
<body>

<div class="container">
    <h1 class="mt-5">Authors</h1>
    <a th:href="@{/author/create}" class="btn btn-primary mb-3">Create Author</a>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Biography</th>
            <th>Activity Years</th>
            <th>Details</th>
            <th>Update</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="author : ${authors}">
            <td th:text="${author.id}"></td>
            <td th:text="${author.firstName + ' ' + author.lastName}"></td>
            <td th:text="${author.biography}"></td>
            <td th:text="${author.activityYears}"></td>
            <td><a th:href="@{/author(id=${author.id})}" class="btn btn-info">Details</a></td>
            <td><a th:href="@{/author/update(id=${author.id})}" class="btn btn-warning">Update</a></td>

        </tr>
        </tbody>
    </table>
</div>

<!-- Bootstrap JS (optional, only if needed) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
