<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Author Form</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bookform.css">
</head>
<body>

<div class="container">
    <h1>Author Form</h1>
    <form method="post" th:object="${author}" th:action="@{/author/create}">
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" th:field="*{firstName}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" th:field="*{lastName}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="biography">Biography:</label>
            <textarea id="biography" name="biography" th:field="*{biography}" class="form-control" rows="5" required></textarea>
        </div>
        <div class="form-group">
            <label for="activityYears">Activity Years:</label>
            <input type="text" id="activityYears" name="activityYears" th:field="*{activityYears}" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<!-- Bootstrap JS (optional, only if needed) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
