<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Details Form</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bookform.css">
</head>
<body>

<div class="container">
    <h1 class="mt-5 mb-4">Book Details Form</h1>
    <form method="post" th:action="@{/book/update}" th:object="${book}">
        <input type="hidden" id="id" name="id" th:value="${b.id}" />
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" th:value="${b.title}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="author">Author:</label>
            <select id="author" name="authorId" class="form-control" required>
                <option value="">Select Author</option>
                <option th:each="author : ${authors}"
                        th:value="${author.id}"
                        th:text="${author.firstName + ' ' + author.lastName}"
                        th:selected="${author.id == b.author.id}"></option>
            </select>
            <small class="form-text text-muted">
                <a th:href="@{/author/create}">Create New Author</a>
            </small>
        </div>
        <div class="form-group">
            <label for="publishYear">Publish Year:</label>
            <input type="number" id="publishYear" name="publishYear" th:value="${b.publishYear}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="genre">Genre:</label>
            <input type="text" id="genre" name="genre" th:value="${b.genre}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" id="price" name="price" th:value="${b.price}" class="form-control" step="0.01" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<!-- Bootstrap JS (optional, only if needed) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
